* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    padding: 20px;
}

#container {
    position: relative;
    width: 520px;
    height: 280px;
    margin: 100px auto 0 auto;
    border: 3px solid #333;
    overflow: hidden;
}

#imgs {
    position: absolute;
    z-index: 1;
    width: 2000%;
    height: 280px;
}

#imgs img {
    float: left;
    width: 520px;
    height: 280px;
}

#points {
    position: absolute;
    left: 0;
    bottom: 20px;
    z-index: 2;
    height: 10px;
    width: 85px;
    width: 100%;
    text-align: center;
}

#points span {
    display: inline-block;
    margin: 0 3px;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #333;
    cursor: pointer;
}

#points .active {
    background: orangered;
}

.arrow {
    position: absolute;
    top: 120px;
    z-index: 2;
    display: none;
    width: 40px;
    height: 40px;
    font-size: 36px;
    font-weight: bold;
    line-height: 39px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#container:hover .arrow {
    display: block;
}

#prev {
    left: 20px;
}

#next {
    right: 20px;
}


